<div class="container_ask">
<h1>Stupid Coaching</h1>
  <form action="/answer">
  Ask your coach anything<br>
    <div class="inline">
    <input type="text" name="question"><br>

    <input class="user-input" type="submit" value="Ask">
    </div>
  </form>
</div>
